body {
    background-color: #f3f2ef;
}
.post-title {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.post-full-content-text{
    font-style: italic;
    padding-left: 20px;
    text-wrap: normal;
}

.post-meta {
    padding-left: 10px;
}

.post-author {
    font-weight: bold;
    font-style: italic;
}
.body-content {
    margin-bottom: 100px;

}
/*Top Buttons*/
.top-buttons {
    display: flex;
    justify-content: space-between;
}
/*Back Button*/
.back-bar {
    align-content: center;
}
.back-bar__container {
    display: flex;
    background-color: whitesmoke;
    border: #2e2e2e 3px solid;
}
.back-bar__back-button {
    padding: 0 7px;
    font-size: 30px;
    background-color: red;
}
.back-bar__back-button a {
    color: #2e2e2e;
}

/*Like bar */
.like-bar {
    float: right;
}

.like-bar__container {
    display: flex;
    background-color: whitesmoke;
    border: #2e2e2e 3px solid;

}
.like-bar__number {

    padding: 7px 15px 0 2px;
    font-size: 22px;

}

.like-bar__like-button {
    height: 50px;
    width: 50px;
    background-color: lawngreen;
}